<header>
  <ul>
    <li @@if (context.active == 'enterpriseEntry') {class="active"}><a href="./enterpriseEntry.html">企业入驻</a></li>
    <li @@if (context.active == 'fashionActivities') {class="active"}><a href="./fashionActivities.html">时尚活动</a></li>
    <li @@if (context.active == 'fashionEducation') {class="active"}><a href="./fashionEducation.html">时尚教育</a></li>
    <li @@if (context.active == 'home') {class="active"} type="logo"><a href="./index.html"><img src="@@webRoot/images/logo.svg" alt=""></a></li>
    <li @@if (context.active == 'characteristicService') {class="active"}><a href="./characteristicService.html">特色服务</a></li>
    <li @@if (context.active == 'designMatch') {class="active"}><a>设计大赛</a></li>
    <li @@if (context.active == 'aboutUs') {class="active"}><a href="./aboutUs.html">关于我们</a></li>
  </ul>
</header>
<script>
var debounce = function(idle, action) {
  var last
  return function() {
    var ctx = this, args = arguments
    clearTimeout(last)
    last = setTimeout(function() {
      action.apply(ctx, args)
    }, idle)
  }
}

window.addEventListener('scroll', debounce(50, function(e) {
    var scrollY = 0
    if (window.scrollY) {
        scrollY = window.scrollY
    } else {
        scrollY = $(document).scrollTop()
    }
    if (scrollY < 50) {
        return $('header').stop().slideDown('fast')
    }
    e.target.oldScrollTopPosition = e.target.scrollTopPosition || 0
    e.target.scrollTopPosition = (window.pageYOffset || document.scrollTop) - (document.clientTop || 0) || 0
    var direction = 'down'
    if (e.target.scrollTopPosition - e.target.oldScrollTopPosition < 0) {
        direction = 'up'
    }
    if (e.target.scrollTopPosition > 0) {
        if (direction === 'down') {
            $('header').stop().slideUp('fast')
        } else {
            $('header').stop().slideDown('fast')
        }
    }
}))
</script>