@import "_macro";
#about-us {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: url(../images/about-us_1.png) no-repeat 50%;
    background-size: cover;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 62px;
      color: $font-color;
      line-height: 1;
      .split {
        width: 20px;
        height: 48px;
        background: #fff;
        display: inline-block;
        transform: skewX(-40deg);
        margin: 0 60px;
      }
    }
  }
  .content-wrap {
    .top-txt {
      font-size: 20px;
      color: #737373;
      width: 72%;
      text-align: center;
      padding: 10vh 0;
      margin: 0 auto;
      p {
        line-height: 40px;
      }
    }
    .park-info {
      .info-title {
        font-size: 30px;
        line-height: 43px;
        letter-spacing: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        i {
          width: 24vw;
          margin: 0 2.4vw;
          height: 1px;
          background: #000;
        }
      }
      .info-list {
        margin: 10vh;
        .item {
          display: flex;
          > div {
            flex: 1;
          }
          .poster {
            position: relative;
            &:hover {
              div.mask-desc {
                opacity: 0;
              }
            }
            img {
              max-width: 860px;
              width: 100%;
              display: block;
            }
            div.mask-desc {
              font-size: 20px;
              color: #fff;
              line-height: 40px;
              flex-direction: column;
              justify-content: center;
              background: rgba(0, 0, 0, 0.4);
              h3 {
                font-size: 26px;
                line-height: 1;
              }
              p {
                font-size: 14px;
              }
            }
          }
          .description {
            position: relative;
            display: flex;
            align-items: center;
            .desc-txt {
              padding: 0 5%;
              font-size: 20px;
              color: #737373;
              line-height: 45px;
              transition: all 0.3s;
            }
            .desc-sign {
              position: absolute;
              color: #000;
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              bottom: 20px;
              width: 100%;
              i {
                display: inline-block;
                width: 50%;
                height: 1px;
                background: #000;
              }
              span {
                white-space: nowrap;
                margin-left: 6.65%;
              }
            }
          }
          &:nth-child(even) {
            .description {
              .desc-sign {
                justify-content: flex-start;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) and (max-width: 1700px) {
  #about-us {
    .content-wrap {
      .park-info {
        .info-list {
          .item {
            .description {
              .desc-txt {
                font-size: 18px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1420px) and (max-width: 1599px) {
  #about-us {
    .banner {
      .title {
        font-size: 52px;
        .split {
          width: 18px;
          height: 40px;
          background: #fff;
          display: inline-block;
          transform: skewX(-40deg);
          margin: 0 60px;
        }
      }
    }
    .content-wrap {
      .park-info {
        .info-list {
          .item {
            .description {
              .desc-txt {
                font-size: 18px;
                line-height: 34px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1270px) and (max-width: 1419px) {
  #about-us {
    .banner {
      .title {
        font-size: 42px;
        .split {
          width: 16px;
          height: 34px;
          background: #fff;
          display: inline-block;
          transform: skewX(-40deg);
          margin: 0 45px;
        }
      }
    }
    .content-wrap {
      .top-txt {
        font-size: 18px;
        padding: 7vh 0;
      }
      .park-info {
        .info-title {
          font-size: 26px;
          i {
            width: 18vw;
          }
        }
        .info-list {
          .item {
            .description {
              .desc-txt {
                font-size: 16px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1120px) and (max-width: 1268px) {
  #about-us {
    .banner {
      .title {
        font-size: 42px;
        .split {
          width: 16px;
          height: 34px;
          background: #fff;
          display: inline-block;
          transform: skewX(-40deg);
          margin: 0 45px;
        }
      }
    }
    .content-wrap {
      .top-txt {
        font-size: 16px;
        padding: 7vh 0;
      }
      .park-info {
        .info-title {
          font-size: 24px;
          letter-spacing: 16px;
          i {
            width: 18vw;
          }
        }
        .info-list {
          .item {
            .description {
              .desc-txt {
                font-size: 14px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 751px) and (max-width: 1119px) {
  #about-us {
    .content-wrap {
      .info-list {
        .item {
          .description {
            .desc-txt {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
