@import "_macro";

#home section {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #fff;
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: $font-color;
    line-height: 1;
    .split {
      width: 12px;
      height: 24px;
      background: $font-color;
      display: inline-block;
      transform: skewX(-40deg);
      margin: 0 25px;
    }
  }
}
.module1 {
  .bg {
    background: url("../images/home_1.png") no-repeat 50% 75%;
    background-size: cover;
  }
  .pc-video-page {
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    .video-container {
      height: 100%;
      height: calc(100% - 106px);
      position: relative;
      overflow: hidden;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &::-webkit-media-controls {
          display: none !important;
        }
      }
    }
  }
}
.module2 {
  .bg {
    background: url("../images/home_2.png") no-repeat 50%;
    background-size: cover;
  }
  .title {
    position: absolute;
    top: 25vh;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .introduce {
    position: absolute;
    top: 48vh;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $font-color;
    font-size: 24px;
    p {
      line-height: 40px;
    }
  }
}
.module3 {
  .accordion {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    .accordion-item {
      flex: 1;
      overflow: hidden;
      transition: all 0.5s;
      position: relative;
      float: left\0;
      width: 16.6666%\0;
      // &:hover {
      //   flex: 1 1 50%;
      //   .shade {
      //     opacity: 0;
      //   }
      //   img {
      //     width: 100%;
      //     height: 100%;
      //   }
      // }
      .shade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.28);
        transition: opacity 0.3s;
      }
      img {
        width: 100%;
        height: 100%;
        transition: 0.5s;
      }
      .txt {
        position: absolute;
        top: 20vh;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        span {
          display: flex;
          align-items: center;
          i {
            display: inline-block;
            width: 106px;
            height: 54px;
            background: url("../images/home_3_logo.png") center center no-repeat;
          }
          strong {
            margin-left: 10px;
            font-size: 60px;
            line-height: 1;
          }
        }
        p {
          margin-top: 5px;
        }
      }
    }
    .accordion-item:nth-child(1) {
      .txt {
        top: 15vh;
      }
    }
    .accordion-item:nth-child(2) {
      .txt {
        top: 29vh;
      }
    }
    .accordion-item:nth-child(3) {
      .txt {
        top: 42vh;
      }
    }
    .accordion-item:nth-child(4) {
      .txt {
        top: 56vh;
      }
    }
    .accordion-item:nth-child(5) {
      .txt {
        top: 70vh;
      }
    }
    .accordion-item:nth-child(6) {
      .txt {
        top: 84vh;
      }
    }
  }
}
.module4 {
  &.active {
    .content {
      top: 54%;
      opacity: 1;
    }
  }
  .bg {
    background: url("../images/home_4.png") no-repeat 50%;
    background-size: cover;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 58%;
    opacity: 0;
    transition: all 0.8s ease 0.3s;
    transform: translate(-50%, -50%) translateZ(0);
    .item {
      color: #fff;
      h3 {
        font-size: 42px;
        line-height: 1;
        white-space: nowrap;
      }
      span {
        font-size: 16px;
        line-height: 1;
        white-space: nowrap;
        margin: 0.6vh 0;
        display: inline-block;
      }
      p {
        font-size: 24px;
        line-height: 1;
        white-space: nowrap;
      }
    }
    .title {
      margin: 10vh 0 5vh 0;
    }
    > div:nth-child(2) {
      .item + .item {
        margin-left: 42vh;
      }
    }
    > div:nth-child(4) {
      .item + .item {
        margin-left: 55vh;
      }
    }
    > div:nth-child(5) {
      margin-top: 7vh;
      .item + .item {
        margin-left: 25vh;
      }
    }
    .items {
      display: flex;
    }
  }
}
.module5 {
  ul {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block\0;
    li {
      position: relative;
      float: left\0;
      &:hover {
        img {
          transform: scale(1.1);
        }
        div {
          opacity: 1;
        }
      }
      img {
        transition: all 0.2s ease;
        width: 100%;
        height: 100%;
      }
      div {
        position: absolute;
        top: 20vh;
        left: 50%;
        color: #fff;
        transition: all 0.2s ease;
        opacity: 0.6;
        transform: translateX(-50%) translate3d(0, 0, 0);
        strong {
          font-size: 30px;
          white-space: nowrap;
        }
        p {
          font-size: 20px;
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #home section {
    .title {
      font-size: 26px;
      .split {
        width: 10px;
        height: 20px;
      }
    }
  }
  .module1 {
    .pc-video-page {
      .video-container {
        height: calc(100% - 85px);
      }
    }
  }
  .module2 {
    .introduce {
      font-size: 20px;
    }
  }
  .module3 {
    .accordion {
      .accordion-item {
        .txt {
          span {
            i {
              width: 95px;
              height: 48px;
              background-size: cover;
            }
            strong {
              font-size: 48px;
            }
          }
        }
      }
    }
  }
  .module4 {
    .content {
      top: 52%;
      .title {
        margin: 8vh 0 5vh 0;
      }
      div:nth-child(2) .item + .item {
        margin-left: 38vh;
      }
      div:nth-child(4) .item + .item {
        margin-left: 50vh;
      }
      div:nth-child(5) .item + .item {
        margin-left: 23vh;
      }
      .item {
        h3 {
          font-size: 36px;
        }
        span {
          font-size: 14px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
  .module5 ul li div {
    strong {
      font-size: 26px;
    }
    p {
      font-size: 18px;
    }
  }
}
